.pane {
    -fx-background-color: white;
}

.button {
    -fx-cursor: hand;
}

.button-blue {
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-underline: true;
}

.content {
    -fx-background-color: #E4E4E4;
}

    /*DataForm*/
#data_form {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.show-border {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #5E5E5E;
}

.hide-border {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}
