#item{
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.text-field .password-field{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

#usernameTF {
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: white;
    -fx-text-fill: blue;
    -fx-underline: true
}
